﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GameAssistant</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GameAssistant", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Project list", "Index", "ProjectList")</li>
                        <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
                        <li>@Html.ActionLink("Examples", "Examples", "Home")</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
                        <li>@Html.ActionLink("Examples", "Examples", "Home")</li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        
    </div>
    <footer class="container body-content">
        <hr />
        <p>&copy; @DateTime.Now.Year - GameAssistant</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


@if (TempData["message"] != null)
{

    <div class="add-to-list modal fade" id="MessageModal" tabindex="-1" role="dialog" aria-labelledby="researchesLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="researchesLabel">Message</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">

                            @Html.Raw(Json.Encode(TempData["message"]).ToString().Replace("\"", ""))

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*        <button type="button" class="btn btn-default">Close</button>*@
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        $('#MessageModal').modal('show');
    </script>

}
