﻿@model GameAssistantWeb.ViewModels.Project.ProjectViewModel
<div class="modal fade" id="deleteProjectModal-@Model.ProjectId" tabindex="-1" role="dialog" aria-labelledby="deleteProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete project</h4>
            </div>
            @using (Html.BeginForm("DeleteProject", "ProjectList", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(m => m.ProjectId)
                <div class="modal-body">
                    Do you want to delete project? Operation is irreversible and you will lose all data about project (logs, events, users etc.)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}