﻿@model IEnumerable<GameAssistantWeb.ViewModels.Project.ProjectViewModel>
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

@*<div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
        </ul>
    </div>*@
<div class="page-header">
    <h1>Project list</h1>
</div>
<div class="well">
    <p>Here you can manage your project list. You are able to create new, edit or delete project.</p>
</div>

@for (int i = 0; i < Model.Count(); i++)
{
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.ElementAt(i).ProjectName</h3>
            </div>
            <div class="panel-body">
                <b>Project ID: @Model.ElementAt(i).ProjectId</b><br />
                @Model.ElementAt(i).TrimmedProjectDescription<hr />
                <a href="@Url.Action("Index", "Project", new { ProjectId = Model.ElementAt(i).ProjectId })"><i class="glyphicon glyphicon-stats btn btn-default" title="More"></i></a>
                <i class="glyphicon glyphicon-pencil btn btn-default" title="Edit" data-toggle="modal" data-target="#addProjectModal-@Model.ElementAt(i).ProjectId"></i>
                @{Html.RenderAction("_EditProjectPartial", new { ProjectId = Model.ElementAt(i).ProjectId });}

                <i class="glyphicon glyphicon-remove btn btn-default" title="Delete" data-toggle="modal" data-target="#deleteProjectModal-@Model.ElementAt(i).ProjectId"></i>
                @{Html.RenderAction("_DeleteProjectPartial", new { ProjectId=Model.ElementAt(i).ProjectId });}

            </div>
        </div>
    </div>

}

<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add new project</h3>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-default  btn-lg btn-block" data-toggle="modal" data-target="#addProjectModal">Add</button>
        </div>
    </div>
</div>

<!-- Modal -->
@{Html.RenderAction("_AddProjectPartial");}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}