﻿@model GameAssistantWeb.ViewModels.Project.EventViewModel


@if (Model.EventId != 0)
{
    @:<div class="modal fade" id="addEventModal-@Model.EventId" tabindex="-1" role="dialog" aria-labelledby="addEventModalLabel" aria-hidden="true">
}
else
{
    @:<div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalLabel" aria-hidden="true">
        }
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Add event</h4>
        </div>
        @using (Html.BeginForm("AddOrEditEvent", "Project", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.EventId)
            @Html.HiddenFor(m => m.ProjectId)
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">@Html.LabelFor(x => x.Title):</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">@Html.LabelFor(x => x.PointsForAchieve):</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.PointsForAchieve, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PointsForAchieve, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">@Html.LabelFor(x => x.Description):</label>
                    <div class="col-sm-8">
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5" for="email">@Html.LabelFor(x => x.MultipleEvent):</label>
                    <div class="col-sm-6">
                        @Html.CheckBoxFor(x => x.MultipleEvent, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MultipleEvent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        }
    </div>
</div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
