﻿@model GameAssistantWeb.ViewModels.Project.LevelViewModel


@if (Model.LevelId != 0)
{
    @:<div class="modal fade" id="addLevelModal-@Model.LevelId" tabindex="-1" role="dialog" aria-labelledby="addLevelModalLabel" aria-hidden="true">
}
else
{
    @:<div class="modal fade" id="addLevelModal" tabindex="-1" role="dialog" aria-labelledby="addLevelModalLabel" aria-hidden="true">
        }
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Add level</h4>
        </div>
        @using (Html.BeginForm("AddOrEditLevel", "Project", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.LevelId)
            @Html.HiddenFor(m => m.ProjectId)
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">@Html.LabelFor(x => x.LevelTitle):</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.LevelTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LevelTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">@Html.LabelFor(x => x.LowerThreshold):</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.LowerThreshold, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LowerThreshold, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">@Html.LabelFor(x => x.UpperThreshold):</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.UpperThreshold, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UpperThreshold, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5" for="email">@Html.LabelFor(x => x.UpperThresholdInf):</label>
                    <div class="col-sm-6">
                        @Html.CheckBoxFor(x => x.UpperThresholdInf, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UpperThresholdInf, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        }
    </div>
</div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
