﻿@model IEnumerable<GameAssistantWeb.ViewModels.Project.AchievementViewModel>
@{
    ViewBag.Title = "Achievements";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="@Url.Action("Index","Project", new { ProjectId = ViewBag.ProjectId })">Overview</a></li>
        <li><a href="@Url.Action("Levels", "Project", new { ProjectId = ViewBag.ProjectId })">Levels</a></li>
        <li><a href="@Url.Action("Events", "Project", new { ProjectId = ViewBag.ProjectId })">Events</a></li>
        <li class="active"><a href="@Url.Action("Achievements", "Project", new { ProjectId = ViewBag.ProjectId })">Achievements</a></li>
    </ul>
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="@Url.Action("Index", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId })">Main table</a></li>
        <li><a href="@Url.Action("Users", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId })">Users</a></li>
        <li><a href="@Url.Action("Events","ProjectStatistic", new { ProjectId = ViewBag.ProjectId })">Events statistic</a></li>
        <li><a href="@Url.Action("Achievements", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId })">Achievement statistic</a></li>
        <li><a href="@Url.Action("Activity", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId })">User activity</a></li>
    </ul>
</div>



<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Achievements</h1>


    <h2 class="sub-header">Achievement list</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Achievement title</th>
                    <th>Achievement type</th>
                    <th>Connected event</th>
                    <th>Points</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AchievementId</td>
                        <td>@item.Title</td>
                        <td>@item.AchievementType</td>
                        @if (item.Event != null)
                        {
                            <td>[@item.Event.EventId]@item.Event.Title</td>
                        }
                        else
                        {
                            <td>Not connected to event</td>
                        }
                        <td>@item.PointsForAchieve</td>
                        <td>
                            <i class="glyphicon glyphicon-pencil btn btn-default" title="Edit" data-toggle="modal" data-target="#addAchievementModal-@item.AchievementId"></i>
                            @{Html.RenderAction("_EditAchievementPartial", new { AchievementId = item.AchievementId });}
                        </td>
                        <td>
                            <i class="glyphicon glyphicon-remove btn btn-default" title="Delete" data-toggle="modal" data-target="#deleteAchievementModal-@item.AchievementId"></i>
                            @{Html.RenderAction("_DeleteAchievementPartial", new { AchievementId = item.AchievementId });}
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <h2 class="sub-header">Add new achievement</h2>
    <div class="">
        <button type="button" class="btn btn-default  btn-lg" data-toggle="modal" data-target="#addAchievementModal">Add</button>
        @{Html.RenderAction("_AddAchievementPartial", new { AchievementId = ViewBag.AchievementId });}
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
