﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="@Url.Action("Index", "Project", new { ProjectId = ViewBag.ProjectId })">Overview</a></li>
        <li><a href="@Url.Action("Levels","Project", new { ProjectId = ViewBag.ProjectId })">Levels</a></li>
        <li><a href="@Url.Action("Events", "Project", new { ProjectId = ViewBag.ProjectId })">Events</a></li>
        <li><a href="@Url.Action("Achievements", "Project", new { ProjectId = ViewBag.ProjectId })">Achievements</a></li>
    </ul>
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="@Url.Action("Index", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId })">Main table</a></li>
        <li><a href="@Url.Action("Users", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId })">Users</a></li>
        <li><a href="@Url.Action("Events","ProjectStatistic", new { ProjectId = ViewBag.ProjectId })">Events statistic</a></li>
        <li><a href="@Url.Action("Achievements", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId })">Achievement statistic</a></li>
        <li><a href="@Url.Action("Activity", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId })">User activity</a></li>
    </ul>
</div>



<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Dashboard</h1>

    <h2 class="sub-header">Documentation</h2>
    <div class="row">

        <div class="col-md-4">
            <h2>Documentation and API</h2>
            <p>Here you will find our documentation and API description.</p>
            <p><a class="btn btn-default" href="@Url.Action("Documentation", "Home")">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Examples</h2>
            <p>Examples of implementation and some showcases of usage our system. What is more - information about system: modules, parts etc. </p>
            <p><a class="btn btn-default" href="@Url.Action("Examples", "Home")">Show me &raquo;</a></p>
        </div>
    </div>
    <hr />
    <h2 class="sub-header">Project configuration</h2>
    <div class="row">

        <div class="col-md-4">
            <h2>Events (Points)</h2>
            <p>Manage events module.</p>
            <p><a class="btn btn-default" href="@Url.Action("Events", "Project", new { ProjectId = ViewBag.ProjectId })">Manage &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Levels</h2>
            <p>Manage levels module.</p>
            <p><a class="btn btn-default" href="@Url.Action("Events", "Project", new { ProjectId = ViewBag.ProjectId })">Manage &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Achievements (Goals)</h2>
            <p>Manage achievements module.</p>
            <p><a class="btn btn-default" href="@Url.Action("Events", "Project", new { ProjectId = ViewBag.ProjectId })">Manage &raquo;</a></p>
        </div>
    </div>
    <hr />
    <h2 class="sub-header">Project statistic</h2>
    <div class="row">

        <div class="col-md-3">
            <h2>Main table</h2>
            <p>User leaderboard in diffrent time approach.</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId }))">Manage &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Events activity</h2>
            <p>Show events activity.</p>
            <p><a class="btn btn-default" href="@Url.Action("Events", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId }))">Manage &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Achievements activity</h2>
            <p>Show achievements activity.</p>
            <p><a class="btn btn-default" href="@Url.Action("Achievements", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId }))">Manage &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>User activity</h2>
            <p>Show users activity.</p>
            <p><a class="btn btn-default" href="@Url.Action("Activity", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId }))">Manage &raquo;</a></p>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}