﻿@model GameAssistantWeb.Models.Logs.User

<div class="modal fade" id="deleteUserModal-@Model.LevelId" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete user</h4>
            </div>
            @using (Html.BeginForm("DeleteUser", "ProjectStatistic", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(m => m.ProjectId)
                @Html.HiddenFor(m => m.UserId)
                <div class="modal-body">
                    Do you want to delete user? Operation is irreversible.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

