﻿@model IEnumerable<GameAssistantWeb.Models.Logs.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="@Url.Action("Index","Project", new { ProjectId = ViewBag.ProjectId })">Overview</a></li>
        <li><a href="@Url.Action("Levels", "Project", new { ProjectId = ViewBag.ProjectId })">Levels</a></li>
        <li><a href="@Url.Action("Events", "Project", new { ProjectId = ViewBag.ProjectId })">Events</a></li>
        <li><a href="@Url.Action("Achievements", "Project", new { ProjectId = ViewBag.ProjectId })">Achievements</a></li>
    </ul>
    <hr />
    <ul class="nav nav-sidebar">
        <li class="active"><a href="@Url.Action("Index", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId })">Main table</a></li>
        <li><a href="@Url.Action("Users", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId })">Users</a></li>
        <li><a href="@Url.Action("Events","ProjectStatistic", new { ProjectId = ViewBag.ProjectId })">Events statistic</a></li>
        <li><a href="@Url.Action("Achievements", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId })">Achievement statistic</a></li>
        <li><a href="@Url.Action("Activity", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId })">User activity</a></li>
    </ul>
</div>




<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Main table</h1>

    <div class="table-responsive">
        <h4>Time interval</h4>
        <div class="well">
            @using (Html.BeginForm("Index", "ProjectStatistic", new { ProjectId = ViewBag.ProjectId }, FormMethod.Post, new { @class = "" }))
            {

                <div id="fromDateTimePickerDiv" class="input-append" style="font-size: 15px;">
                    From: <input id="fromDateTimePicker" name="fromDateTimePicker" type="text" />

                </div>

                <div id="toDateTimePickerDiv" class="input-append" style="font-size: 15px;">
                    To: <input id="toDateTimePicker" name="toDateTimePicker" type="text" />

                </div>
    <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#addLevelModal">Show</button>
                <a href="@Url.Action("Index", "ProjectStatistic",new { ProjectId = ViewBag.ProjectId })"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#addLevelModal">Reset</button></a>

            }
        </div>


        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Place</th>
                    <th>System User Id</th>
                    <th>Username</th>
                    <th>Points</th>
                    <th>Level</th>
                    <th>Achieved achievement count</th>
                    <th>Achieved event count</th>
                    <th>Create date</th>
                    <th>Additional data</th>
                </tr>
            </thead>
            <tbody>
                @{int iteration = 0;}
                @foreach (var item in Model.OrderByDescending(x => x.Points))
                {
                    iteration++;
                    <tr>
                        <td>@iteration</td>
                        <td>@item.SourceUserId</td>
                        <td>@item.UserName</td>
                        <td>@item.Points</td>
                        <td>@item.CurrentLevel.LevelTitle</td>
                        <td>@item.AchievedAchievements.Count</td>
                        <td>@item.AchievedEvents.Count</td>
                        <td>@item.CreateDate</td>
                        <td>
                            <i class="glyphicon glyphicon-search btn btn-default" title="Details" data-toggle="modal" data-target="#additionalDataUserModal-@item.UserId"></i>
                            @*@{Html.RenderAction("_AdditionalUserDataPartial", new { UserId = item.UserId });}*@
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>


</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


